<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67837084425-g9dvlsob6lojkpiponfq3up35n5vvb6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67837084425-g9dvlsob6lojkpiponfq3up35n5vvb6d</string>
	<key>API_KEY</key>
	<string>AIzaSyAouyw430qfYbCG0nTxzyXeQmMZPgwSN-M</string>
	<key>GCM_SENDER_ID</key>
	<string>67837084425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesapp</string>
	<key>PROJECT_ID</key>
	<string>notesappbyraj</string>
	<key>STORAGE_BUCKET</key>
	<string>notesappbyraj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67837084425:ios:b6ca487adc7a41e50bc9d8</string>
</dict>
</plist>